body {
  /* background-image: url('../assets/blackjack.png'); */
  background-color: rgb(0, 118, 58);
  /* background-repeat: no-repeat; */
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Poller One", serif ;
  /* padding: 50px; */
  
}

h1 {
  font-size:11vmin;
  color: white;
  /* margin-top: 15px; */
}

.card-display {
  color: white;
  background-color: red;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  height: 50%; */
}

.betting-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.wagers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.wager-display {
  font-size: 6vmin;
  color: white;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 20px;
  padding: 15px;
}

.wager-buttons {
  display: flex;
}

.chips {
  font-size: 4vmin;
  color: white;
  background-color: brown;
  border: 5px dashed red;
  padding: 3vmin;
  border-radius: 50%;
  margin: 5px;
}

.total-display {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.total {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-size: 6vmin;
  padding: 15px;
}

#your-chips {
  font-size: 4vmin;
  color: yellow;
  text-shadow: 0 0 4px black;

}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.play {
  font-size: 5vmin;
  color: black;
  background-color: rgb(0, 252, 252);
  margin: 5px;
  padding: 3vmin;
  border-radius: 10px;
  /* border-style: groove; */
  border: 5px outset rgb(255, 255, 0);
}

.play:hover {
  border: 5px solid red;
}

.chips:hover{
  border: 5px solid yellow;
}
